
    <!-- Download Section -->
    <section id="projects" class="content-section text-center">
        <div class="projects-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects of Sumsuddin</h2>
                    <p> Head to my github account. All my public repositories are there. </p>
                    <a href="https://github.com/sumsuddin" class="btn btn-default btn-lg"> Github Page </a>
                </div>
            </div>
        </div>
    </section>